@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-950: #082f49;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1.5fr 6fr;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: var(--sky-500);
    color: white;
    font-weight: bold;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    padding-left: 1rem;
}

.navigation-item,
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 5vh;
    gap: 1rem;
}

.title {
    padding-top: 1rem;
    font-size: 2rem;
}

.navigation-icon,
.dashboard-icon {
    display: flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    fill: #ffffff;
}

.dashboard-icon>svg {
    width: 100%;
}

.navigation-icon>svg {
    width: 65%;
}

.top-navigation-bar,
.bottom-navigation-bar {
    padding-top: 5vh;
    font-size: 1.5rem;
}

.navigation-item:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--sky-300);
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
    width: 83.33vw;
    position: relative;
    z-index: 10; 
}

.top-bar {
    display: flex;
    height: 10vh;
}

.search-bar,
.notification {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 60%;
    gap: 1rem;
}

.notification {
    width: 40%;
    justify-content: center;
    gap: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.header-icon {
    height: 2rem;
}

.circle-portrait {
    width:  4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
}

.circle-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input {
    height: 40%;
    width: 80%;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
    background-color: var(--sky-100);
    outline: 0;
    border: 0;
    font-size: .8rem;
}

input:focus {
    border: 0.1rem solid var(--sky-300);
}

:focus {
    outline: 0;
}

.bottom-bar {
    display: flex;
    height: 10vh;
}

.greetings-bar,
.actions-bar {
    display: flex;
}

.greetings-bar {
    padding-left: 5%;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 55%;
}

.greetings-bar > .circle-portrait {
    width:  5rem;
    height: 5rem;
}

.greeting {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

#name-emphasis {
    font-size: 1.5rem
}

.actions-bar {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 45%;
}

button {
    color: white;
    background-color: var(--sky-500);
    border: 0;
    border-radius: 2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .75rem 0;
    width: 15%;
    text-align: center;
}

button:hover {
    background-color: var(--sky-300);
    opacity: 0.75;
    border: 0.1rem solid var(--sky-300);
}

.content {
    background-color: var(--sky-100);
}
